.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.page--header {
  text-align: center;
}
.page--content {

}
.page--footer {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.table,
.person {
  text-align: center;
  color: #fff;
  margin: 2px;
  padding: 2px 0;
  flex: 1;
}

.table {
  background-color: #cc792d;
  font-size:1.5em;
}

.person {
  border-radius: 10px;
  background-color: #0868cc;
}

