.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.page--header {
  text-align: center;
}
.page--content {

}
.page--footer {
  text-align: center;
}

ul {
  list-style-image: none;
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
}

.table,
.person {
  display: inline-block;
  text-align: center;
  width: 50px;
  color: #fff;
  box-sizing: border-box;
  margin: 2px;
}

.table {
  background-color: #cc792d;
  padding: 2px 0;
  font-size:1.5em;
}


.person .label {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding-top: 6px;
  padding-left: 2px;
  border-radius: 20px;
  background-color: #0868cc;
  box-sizing: border-box;
}